ul li,ol li{
    font-size: 1.4rem;
}

.list-style-square{
    list-style-type: square;
}
.list-style-circle{
    list-style-type: circle;
}
.list-style-upper-roman{
    list-style-type: upper-roman;
}
.list-style-upper-alpha{
    list-style-type: upper-alpha;
}
/*  */
.lists-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
}

