
.alert{
    height: 4rem;
    width: 30rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0;
}
.alert i{
    margin-left: 1rem;
}
.alert p{
    flex-grow: 1;
    margin: 0 1rem;
}

.alert-error,.alert-error>*{
    background: #fca5a5;
    color: #b91c1c;
}
.alert-success, .alert-success>*{
    background: #86efac;
    color: #047857;
}
.alert-warning, .alert-warning>*{
    background: #fde047;
    color: #a16207;
}
.alert-info, .alert-info>*{
    background:#7dd3fc;
    color: #0369a1;
}